
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div class="text-center">
    <h4>An error occurred while completing your request. Verify that the data is correct and try again</h4>
    <p>@Html.ActionLink("To main page","Index","Search")</p>
</div>