@model string
@{
    ViewBag.Title = "Flight not found";
}

<h2>Search not found</h2>

<div class="text-center search-form">
    <h4>@Model</h4>
    @Html.ActionLink("Back to search form", "Index")
</div>

